doctype html
html
  head
    title Uber Authorization Confirmed
  body
    h1 Your Uber account has authenticated. Please click on Finish to Continue.
    button(onclick="window.external.notify('#{title}')") Finish